<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cvclipse -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.cvclipse.presentation.CvclipseModelWizardID"
            name="%_UI_CvclipseModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.cvclipse.presentation.CvclipseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CvclipseModelFile.gif">
         <description>%_UI_CvclipseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cvclipse -->
      <editor
            id="de.tu_bs.cs.isf.mbse.cvclipse.presentation.CvclipseEditorID"
            name="%_UI_CvclipseEditor_label"
            icon="icons/full/obj16/CvclipseModelFile.gif"
            extensions="cv"
            class="de.tu_bs.cs.isf.mbse.cvclipse.presentation.CvclipseEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.cvclipse.presentation.CvclipseActionBarContributor">
      </editor>
   </extension>

</plugin>
