<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CVclipse -->
      <package
            uri="http://cvclipse/1.0"
            class="cvclipse.CvclipsePackage"
            genModel="model/CVclipse.genmodel"/>
   </extension>

</plugin>
