<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.mopp.CvMetaInformation" id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.mopp.CvMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem">
		</super>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem">
		</super>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem">
		</super>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem">
		</super>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.problem">
		</super>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.nature" name="cv nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.mopp.CvNature">
			</run>
		</runtime>
		<builder id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.builder" name="cv Builder">
		<builder hasNature="true">
			<run class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.mopp.CvBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.mopp.CvResourceFactoryDelegator" type="cv">
		</parser>
	</extension>
	
	<extension-point id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.debug.CvLineBreakpoint" id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.debug.breakpoint" markerType="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.debug.lineBreakpoint.marker" name="cv Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.ui.launchConfigurationType" delegate="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.launch.CvLaunchConfigurationDelegate" modes="run,debug" name="cv Application" sourceLocatorId="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.ui.sourceLocator" sourcePathComputerId="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.ui.sourcePathComputer" delegateName="cv Launch Tooling" delegateDescription="This will run or debug .cv files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.debug.CvSourcePathComputerDelegate" id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.ui.sourceLocator" class="de.tu_bs.cs.isf.mbse.cvclipse.resource.cv.debug.CvSourceLocator" name="cv Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
