<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cvclipse -->
      <package
            uri="http://www.tu-braunschweig.de/isf/cvclipse/1.0"
            class="de.tu_bs.cs.isf.mbse.cvclipse.CvclipsePackage"
            genModel="model/cvclipse.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">

    <category
    	id="de.tu_bs.cs.isf.mbse.cvclipse.validation.category1"
        name="name">
	</category>
      
    <constraintProvider cache="true" mode="Batch">
         <package namespaceUri="http://www.tu-braunschweig.de/isf/cvclipse/1.0" />
         
         <constraints categories="de.tu_bs.cs.isf.mbse.cvclipse.validation.category1">
            <constraint
                  class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.FirstnameExists"
                  id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint1"
                  lang="Java"
                  mode="Batch"
                  name="name"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>

	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.SurnameExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint2"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>

	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.BirthdateExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint3"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>

	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.BirthplaceExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint4"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>

	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.StreetExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint5"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>

	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.CityExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint6"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.LanguagesConsistent"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint7"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.DateConsistent"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint8"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.letter.LetterExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint9"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.CVExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint10"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	         <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.letter.TextExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint11"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	         <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.letter.RecipientCompanyExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint12"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	        <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.letter.RecipientStreetExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint13"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	          <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.letter.RecipientCityExists"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint14"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	          <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.EmailLegal"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint15"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>
	        
	          <constraint
	              class="de.tu_bs.cs.isf.mbse.cvclipse.validation.personalinformation.TwitterLegal"
	              id="de.tu_bs.cs.isf.mbse.cvclipse.validation.constraint16"
	              lang="Java"
	              mode="Batch"
	              name="name"
	              severity="ERROR"
	              statusCode="1">
	           <message>
	              message body text
	           </message>
	        </constraint>

         </constraints>
      </constraintProvider>
   </extension>

	<extension point="org.eclipse.emf.validation.constraintBindings">
    <clientContext
          default="false"
          id="de.tu_bs.cs.isf.mbse.cvclipse.validation.clientContext1">
        <enablement>
        </enablement>
	</clientContext>
    <binding
          category="de.tu_bs.cs.isf.mbse.cvclipse.validation.category1"
          context="de.tu_bs.cs.isf.mbse.cvclipse.validation.clientContext1">
    </binding>
	</extension>

</plugin>
